.Rproj.user
.Rhistory
.RData
.Ruserdata
.RAnalysis/data/*tab
.DS_Store
*.bedgraph
*.vcf
ceabigr.Rproj
bg_data
*.bam
meth_types.txt
genome-features/GCF_002022765.2_C_virginica-3.0_genomic.gff
genome-features/GCF_002022765.2_C_virginica-3.0_genomic.fna
genome-features/C_virginica-3.0-gene.gff
genome-features/C_virginica-3.0-CDS.gff
genome-features/C_virginica-3.0-exon.gff
genome-features/C_virginica-3.0-lncRNA.gff
genome-features/C_virginica-3.0-mRNA.gff
genome-features/C_virginica-3.0-nonCDS.bed
genome-features/C_virginica-3.0-intron.bed
genome-features/C_virginica-3.0-exonUTR.gff
genome-features/C_virginica-3.0-downstream.gff
genome-features/C_virginica-3.0-flanks.gff
genome-features/C_virginica-3.0-upstream.gff
genome-features/C_virginica-3.0-intergenic.bed
genome-features/C_virginica-3.0-rm.te
genome-features/C_virginica-3.0-rm.te.bed
genome-features/C_virginica-3.0-rm.te.gz
genome-features/C_virginica-3.0-fuzznuc-CGmotif.gff
*.bedgraph-Meth
*.bedgraph-modMeth
*.bedgraph-lowMeth
output/methylation-landscape/12M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/12M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/12M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/13M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/13M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/13M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/16F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/16F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/16F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/19F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/19F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/19F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/22F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/22F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/22F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/23M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/23M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/23M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/29F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/29F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/29F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/31M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/31M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/31M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/35F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/35F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/35F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/36F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/36F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/36F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/39F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/39F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/39F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/3F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/3F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/3F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/41F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/41F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/41F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/44F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/44F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/44F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/48M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/48M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/48M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/50F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/50F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/50F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/52F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/52F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/52F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/53F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/53F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/53F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/54F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/54F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/54F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/59M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/59M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/59M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/64M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/64M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/64M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/6M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/6M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/6M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/76F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/76F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/76F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/77F_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/77F_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/77F_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/7M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/7M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/7M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/9M_R1_val_1_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/9M_R1_val_1_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/9M_R1_val_1_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/fem-union-averages_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/fem-union-averages_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/fem-union-averages_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/male-union-averages_10x.SNPcorr.bedgraph-lowMeth.bed
output/methylation-landscape/male-union-averages_10x.SNPcorr.bedgraph-Meth.bed
output/methylation-landscape/male-union-averages_10x.SNPcorr.bedgraph-modMeth.bed
output/methylation-landscape/fem-union-averages_10x-wb.bed
output/methylation-landscape/male-union-averages_10x-wb.bed
*.bed-Gene
*.bed-CDS
*.bed-exonUTR
*.bed-intron
*.bed-upstreamFlanks
*.bed-downstreamFlanks
*.bed-intergenic
*.bed-lncRNA
*.bed-TE
