.Rproj.user
.Rhistory
.RData
.Ruserdata
.RAnalysis/data/*tab
.DS_Store
*.bedgraph
*.vcf
ceabigr.Rproj
bg_data
*.bam
output/12M_te.tab
output/test
blastdb
genome-features/GCF_002022765.2_C_virginica-3.0_genomic.gff
genome-features/C_virginica-3.0-upstream.gff
genome-features/C_virginica-3.0-rm.te.gz
genome-features/C_virginica-3.0-rm.te.bed
genome-features/C_virginica-3.0-rm.te
genome-features/C_virginica-3.0-nonCDS.bed
genome-features/C_virginica-3.0-mRNA.gff
genome-features/C_virginica-3.0-lncRNA.gff
genome-features/C_virginica-3.0-intron.bed
genome-features/C_virginica-3.0-intergenic.bed
genome-features/C_virginica-3.0-gene.gff
genome-features/C_virginica-3.0-fuzznuc-CGmotif.gff
genome-features/C_virginica-3.0-flanks.gff
genome-features/C_virginica-3.0-exonUTR.gff
genome-features/C_virginica-3.0-exon.gff
genome-features/C_virginica-3.0-downstream.gff
genome-features/C_virginica-3.0-CDS.gff
*checkpoint.ipynb
*.ctab
*.md5
*.RData
